@model AlugaGo.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>
<p>
    @Html.ActionLink("Editar", "Edit", new { @Model.Id } , new { @class = "btn btn-primary" })
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Data Nascimento</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
            <td>@Model.Birthdate.ToShortDateString()</td>
        </tr>

    </tbody>
</table>