@model  List<AlugaGo.Models.Motorcycle>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Carros</h2>

<p>
    @Html.ActionLink("Nova Moto", "New", null, new { @class = "btn btn-primary" })
</p>

<table id="ListCars" class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Detalhes</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var listMotors in Model.ToList())
        {
            <tr>
                <td>@listMotors.Id</td>
                <td>@listMotors.Name</td>
                <td>@Html.ActionLink(" ", "Details", new { @listMotors.Id }, new { @class = "glyphicon glyphicon-list" })</td>
                <td>@Html.ActionLink(" ", "Edit", new { @listMotors.Id }, new { @class = "glyphicon glyphicon-pencil" })</td>
                <td>
                    <button data-motorcycle-id="@listMotors.Id" class="btn-link js-delete glyphicon glyphicon-trash"></button>
                </td>
            </tr>
        }   

    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#listMotors").on("click", ".js-delete",
                function () {
                    var button = $(this);
                    bootbox.confirm("Tem certeza que quer remover este cliente?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: "/motorcycles/delete/" + button.attr("data-motorcycle-id"),
                                    method: "GET",
                                    success: function () {
                                        button.parents("tr").remove();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}