@model AlugaGo.ViewModels.CarFormViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Cars"))
{
    @Html.HiddenFor(m => m.Car.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Car.Name)
        @Html.TextBoxFor(m => m.Car.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Car.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Car.Fabricante)
        @Html.TextBoxFor(m => m.Car.Fabricante, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Car.Fabricante)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Car.Category)
        @Html.DropDownListFor(m => m.Car.CategoryId, new SelectList(Model.Category, "Id", "Name"), "Selecione a Categoria", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Car.CategoryId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Car.Door)
        @Html.TextBoxFor(m => m.Car.Door, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Car.Door)
    </div>
    <button type="submit" class=" btn btn-primary">Salvar</button>
}