@model AlugaGo.Models.Car

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>
<p>
    @Html.ActionLink("Editar", "Edit", new { @Model.Id }, new { @class = "btn btn-primary" })
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Fabricante</th>
            <th>Portas</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
            <td>@Model.Fabricante</td>
            <td>@Model.Door</td>
        </tr>

    </tbody>
</table>